body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.header {
    position: relative;
    background-color: slategray;
    padding: 20px 0;
    color: white;
}

.header__title {
    margin: 0;
    text-align: center;
}

.sign-link {
    position: absolute;
    right: 20px;
    top: 30px;
    cursor: pointer;
}

.timer {
    padding: 30px 0;
}

.timer__display {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: #5f6f80;
    text-shadow: 2px 2px 2px rgba(0,0,0, 0.3);
}

.timer__buttons {
    margin-top: 35px;
    text-align: center;
}

.timer__btn {
    display: inline-block;
    padding: 10px 20px;
    margin-right: 10px;
    border: 1px solid #000;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}

.timer__btn--start {
    background-color: green;
    color: #fff;
}

.timer__btn--stop {
    background-color: #c60f13;
    color: #fff;
}

.timer__options {
    text-align: center;
    margin-bottom: 30px;
}
.timer__option {
    display: inline-block;
    background-color: #2ba6cb;
    border: 1px solid #1e728c;
    transition: .4s;
    color: #fff;
    font-weight: bold;
    padding: 7px 30px;
    cursor: pointer;
}
.timer__option:hover,
.timer__option:active,
.timer__option--active {
    background-color: #2284a1;
}